<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-15">
  </head>
  <h3>KEGG PATHWAY LIST</h3>

  <body>
    <% create_rest_urls(pathway_id).each do |i, url| %>
    <p>
      <a href= <%= url %> target="blank">
        <%= get_pathway_title(pathway_id) %> => comp<%= i %>
      </a>
    </p>
    <% end %>

    <hr>

    <center>
      <p>
        <a href="http://www.cell-innovator.com">
          <font color="#5FB00B" face="Century Gothic">
            cell innovator
          </font>
        </a>
      </p>
    </center>
  </body>
</html>
